@import "./color.scss";
@import "./fonts.scss";
@import "./variables.scss";

.analyze {
  font-family: "sfPro";
  padding: 0 $padding-phone;

  &__title {
    margin-top: 4em;
    border-bottom: lightgray solid 1px;
    margin-bottom: 2em;
  }

  &__header {
    margin-bottom: 0;
  }

  &__desc {
    margin-top: 0.25em;
    font-size: 0.9em;
  }

  &__start {
    &--cta {
      font-family: "gotham";
      font-size: 1.5em;
      width: 100%;
      height: 3em;
      border-radius: 0.25em;
      background-color: $subtle-blue;
      color: white;
      border: none;

      &:hover {
        transition: 0.5s;
        background-color: rgb(105, 105, 255);
      }
    }
    margin: 2em 0 5em 0;
  }
}

.upload {
  display: flex;
  justify-content: center;
  margin: 3em 0;

  &__button {
    font-family: "gotham";
    width: 100%;

    height: 10em;
    box-shadow: 0px 18px 40px 5px rgba(0, 0, 0, 0.1);

    &:hover {
      transition: 0.5s;

      transform: scale(1.2);
    }
  }
}

.fileContainer {
  text-align: center;
}

.chooseFileButton {
  font-family: "gotham";
}

.photo {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 100%;
  &__card {
    animation: cards 1s ease-in;
    border-radius: 0.9em;
    background-size: cover;
    background-position: center;
    background-color: $subtle-blue;
    box-shadow: 8px 12px 15px 2px rgba(160, 152, 249, 0.3);
    width: 47%;
    height: 12em;
    margin: 2em 0;

    &:hover {
      transition: 0.5s;
      transform: scale(1.1);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.process {
  &__div {
    display: flex;
    justify-content: center;
    margin-top: $top-margin;

    & div {
      display: none;
    }
  }

  &__gif {
    margin-top: 3em;
    width: 80%;
  }
}

@media screen and (min-width: $mediaTablet) {
  .analyze {
    padding: 0 $padding-tablet;

    &__start {
      display: flex;
      justify-content: flex-end;

      &--cta {
        width: 25%;
      }
    }
  }
  .photo {
    justify-content: center;
    &__card {
      width: 20%;
      margin-right: 2em;
    }
  }

  .process {
    &__gif {
      width: 30em;
    }
  }

  .upload {
    &__button {
      width: 40%;
    }
  }
}

@media screen and (min-width: $mediaDesktop) {
  .analyze {
    padding: 0 $padding-desktop;
  }
  .photo {
    justify-content: center;
    &__card {
      width: 12%;
      margin-right: 2em;
    }
  }

  .process {
    &__gif {
      width: 40em;
    }
  }

  .upload {
    &__button {
      width: 25%;
    }
  }
}

@keyframes cards {
  from {
    opacity: 0;
    transform: translateY(2em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
