@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProLight.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProRegular.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProMedium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProBold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProBlack.otf") format("opentype");
  font-weight: 1000;
}

@font-face {
  font-family: "gotham";
  src: url("../assets/fonts/gotham-rounded/gotham-rounded.otf")
    format("opentype");
}
