@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProLight.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProRegular.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProMedium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProBold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProBlack.otf") format("opentype");
  font-weight: 1000;
}

@font-face {
  font-family: "gotham";
  src: url("../assets/fonts/gotham-rounded/gotham-rounded.otf") format("opentype");
}

.nav {
  background-color: #6abeff;
  font-family: "gotham";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5em;
  padding: 0 1.5em;
}

.nav__logo {
  width: 100px;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.nav__link {
  margin: 0;
  font-size: 0.9em;
  color: #eaeaea;
  letter-spacing: 0.1em;
}

.nav__link:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
}

.nav__profile {
  width: 30px;
  fill: #eaeaea;
}

.nav__profile:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  fill: white;
}

.is-active h3 {
  color: white;
  fill: white;
}

.is-active-logo svg {
  fill: white;
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 0 4em;
  }
  .nav__links {
    width: 30%;
  }
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProLight.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProRegular.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProMedium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProBold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProBlack.otf") format("opentype");
  font-weight: 1000;
}

@font-face {
  font-family: "gotham";
  src: url("../assets/fonts/gotham-rounded/gotham-rounded.otf") format("opentype");
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProLight.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProRegular.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProMedium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProBold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProBlack.otf") format("opentype");
  font-weight: 1000;
}

@font-face {
  font-family: "gotham";
  src: url("../assets/fonts/gotham-rounded/gotham-rounded.otf") format("opentype");
}

.analyze {
  font-family: "sfPro";
  padding: 0 1.5em;
}

.analyze__start {
  margin: 2em 0 5em 0;
}

.analyze__start--cta {
  font-family: "gotham";
  font-size: 1.5em;
  width: 100%;
  height: 3em;
  border-radius: 0.25em;
  background-color: #6abeff;
  color: white;
  border: none;
}

.analyze__start--cta:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #6969ff;
}

.upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3em 0;
}

.upload__button {
  font-family: "gotham";
  width: 100%;
  height: 10em;
  -webkit-box-shadow: 0px 18px 40px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 18px 40px 5px rgba(0, 0, 0, 0.1);
}

.upload__button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.fileContainer {
  text-align: center;
}

.chooseFileButton {
  font-family: "gotham";
}

.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.photo__card {
  -webkit-animation: cards 1s ease-in;
          animation: cards 1s ease-in;
  border-radius: 0.9em;
  background-size: cover;
  background-position: center;
  background-color: #6abeff;
  -webkit-box-shadow: 8px 12px 15px 2px rgba(160, 152, 249, 0.3);
          box-shadow: 8px 12px 15px 2px rgba(160, 152, 249, 0.3);
  width: 47%;
  height: 12em;
  margin: 2em 0;
}

.photo__card:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-size: contain;
  background-repeat: no-repeat;
}

.process__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
}

.process__div div {
  display: none;
}

.process__gif {
  margin-top: 3em;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .analyze {
    padding: 0 4em;
  }
  .analyze__start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .analyze__start--cta {
    width: 25%;
  }
  .photo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .photo__card {
    width: 20%;
    margin-right: 2em;
  }
  .process__gif {
    width: 30em;
  }
  .upload__button {
    width: 40%;
  }
}

@media screen and (min-width: 1440px) {
  .analyze {
    padding: 0 12em;
  }
  .photo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .photo__card {
    width: 12%;
    margin-right: 2em;
  }
  .process__gif {
    width: 40em;
  }
  .upload__button {
    width: 25%;
  }
}

@-webkit-keyframes cards {
  from {
    opacity: 0;
    -webkit-transform: translateY(2em);
            transform: translateY(2em);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes cards {
  from {
    opacity: 0;
    -webkit-transform: translateY(2em);
            transform: translateY(2em);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProLight.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProRegular.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProMedium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProBold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProBlack.otf") format("opentype");
  font-weight: 1000;
}

@font-face {
  font-family: "gotham";
  src: url("../assets/fonts/gotham-rounded/gotham-rounded.otf") format("opentype");
}

.history {
  padding: 0 1.5em;
}

.prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  background-size: cover;
  background-position: center;
  border: #6abeff 6px solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2em;
  -webkit-box-shadow: 8px 12px 15px 2px rgba(160, 152, 249, 0.3);
          box-shadow: 8px 12px 15px 2px rgba(160, 152, 249, 0.3);
  padding: 0 1em;
}

.prev__info {
  color: #6abeff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1.3em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  border-bottom: #e4e4e4 8px dotted;
}

.prev__title {
  font-family: "gotham";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2em;
  margin: 0;
}

.prev__date {
  margin: 0;
  font-size: 0.75em;
}

.prev__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.prev__img {
  width: 3.5em;
  height: 3.5em;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 1em;
  outline: none;
  margin-bottom: 2em;
  -webkit-box-shadow: 2px 2px 10px 0.5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px 0.5px rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProLight.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProRegular.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProMedium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProBold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "sfPro";
  src: url("../assets/fonts/sf-pro/sfProBlack.otf") format("opentype");
  font-weight: 1000;
}

@font-face {
  font-family: "gotham";
  src: url("../assets/fonts/gotham-rounded/gotham-rounded.otf") format("opentype");
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3em;
}

.results__title--input {
  width: 50%;
  height: 6em;
}

.results__type {
  -webkit-animation: rendered 0.5s ease-in;
          animation: rendered 0.5s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.1);
  width: 95%;
  padding: 0 1.5em;
  border-radius: 1em;
  margin: 2em 0;
}

.results__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20em;
  height: 3em;
  padding: 0 1em;
  position: relative;
  color: #6abeff;
  border-bottom: 0.5px solid lightGrey;
}

.results__section--title {
  margin: 0;
  margin-right: 1em;
  font-weight: 800;
  background-color: #6abeff;
  position: absolute;
  top: -0.75em;
  left: 0;
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

.results__section--count {
  margin: 0;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  -webkit-animation: count 0.4s 0.5s ease-in forwards;
          animation: count 0.4s 0.5s ease-in forwards;
  font-family: "gotham";
  font-weight: 800;
  font-size: 1em;
  position: absolute;
  top: -1.5em;
  left: -3em;
  width: 4em;
  height: 4em;
  text-align: center;
  padding-top: 1.5em;
  border-radius: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.1);
  margin-left: auto;
}

.results__rendered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.results__card {
  -webkit-animation: cards 1s ease-in;
          animation: cards 1s ease-in;
  border-radius: 0.9em;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-color: #6abeff;
  -webkit-box-shadow: 8px 12px 15px 2px rgba(160, 152, 249, 0.3);
          box-shadow: 8px 12px 15px 2px rgba(160, 152, 249, 0.3);
  width: 7em;
  height: 12em;
  margin: 2em 2em 2em 0;
}

.results__card:hover .results__img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.results__card:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.results__img {
  position: absolute;
  width: 75px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -2em;
  right: -2em;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  z-index: 99;
  -webkit-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.results__img img {
  width: 20px;
}

@media screen and (min-width: 768px) {
  .results {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0 4em;
  }
  .results__type {
    margin-right: 1em;
    width: 45%;
  }
}

@media screen and (min-width: 1440px) {
  .results {
    padding: 0 12em;
  }
}

@-webkit-keyframes rendered {
  from {
    -webkit-transform: translateX(-10em);
            transform: translateX(-10em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rendered {
  from {
    -webkit-transform: translateX(-10em);
            transform: translateX(-10em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes count {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes count {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

*,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  -webkit-text-emphasis: none;
          text-emphasis: none;
  text-decoration: none;
}
/*# sourceMappingURL=App.css.map */