@import "./partials/navbar.scss";
@import "./partials/fonts.scss";
@import "./partials/color.scss";
@import "./partials/analyze.scss";
@import "./partials/variables.scss";
@import "./partials/history.scss";
@import "./partials/results.scss";
@import "./partials/main.scss";

*,
body {
  box-sizing: border-box;
}

a {
  text-emphasis: none;
  text-decoration: none;
}
